<style>
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="color: #e3f2fd;">
    <div class=" container-fluid">
        <a class="navbar-brand pb-1" href="/" style="font-size: 1.5rem;">OptionX</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/" style="font-size: 1.2rem;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/basket" style="font-size: 1.2rem;">My Basket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/analyze" style="font-size: 1.2rem;">Strategy Builder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/details" style="font-size: 1.2rem;">Configure Key</a>
                </li>
            </ul>

        </div>
    </div>
</nav>