<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/assets/css/credentials.css">
        
    </head>

    <body>
        <%- include('./partials/navbar') %>

            <div class="container d-flex justify-content-start align-items-center flex-column mainpage">
            <div class="row d-flex justify-content-start align-items-center flex-column">
                <div class="col-4">
                    <h3></h3> Please Provide Your Details </h3>
                </div>
                <div class="col-4">
                <form action="/details" method="post">
                    <select name="broker" class="form-control" id="broker">
                                <option value="">Select your Broker</option>
                                <option value="Zerodha">Zerodha</option>
                                <option value="Angel">Angel Broking</option>
                                <option value="AliceBlue">AliceBlue</option>
                                <option value="Fyers">Fyers</option>
                            </select>
                </div>
                <div class="col-4">
                    
                    <div class="mb-3">
                        <label for="apikey" class="form-label">API Key</label>
                        <input type="text" name="apikey" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" <%= value="data.apikey" %>>
                        <div id="emailHelp" class="form-text">We'll never share your Details with anyone else.</div>
                    </div>

                    <div class="mb-3">
                        <label for="apisecret" class="form-label">Secret Key</label>
                        <input type="text" name="secretkey" class="form-control" id="exampleInputPassword1">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Verify</button>
                </form>
                </div>
                

            </div>

            </div>

            <%- include('./partials/footer') %>