<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/assets/css/credentials.css">
        
    </head>

    <body>
        <%- include('./partials/navbar') %>

            <div class="container d-flex justify-content-start align-items-center flex-column mainpage min-vh-100">
            
            <div class="row d-flex justify-content-start align-items-center flex-column">
                <div class="col-4">
                    <h3 class="display-5 my-3">Configure Key</h3>
                    
                </div>
                <div class="col-4 mt-3">
                <form action="/details" method="post">
    
                    <select name="broker" class="form-control" id="broker" required>
                                <option value="">Select your Broker</option>
                                <option value="Zerodha">Zerodha</option>
                                <option value="Angel">Angel Broking</option>
                                <option value="AliceBlue">AliceBlue</option>
                            </select>
                </div>
                <div class="col-4">
                    
                    <div class="mt-3">
                        <label for="apikey" class="form-label">API Key or Client Id (for Alice Blue)</label>
                        <input type="text" name="apikey" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" <%= value="data.apikey" %> required>
                        <div id="emailHelp" class="form-text">We'll never share your Details with anyone else.</div>
                    </div>

                    <div class="mt-3 mb-4">
                        <label for="apisecret" class="form-label">Secret Key</label>
                        <input type="text" name="secretkey" class="form-control" id="exampleInputPassword1">
                        </div>
            
                    <button type="submit" class="btn btn-primary">Add Key</button>
                    <p class="mt-3">Note: You have to make sure that the above details are accurate.</p>
                </form>
                </div>
                

            </div>

            </div>

            <%- include('./partials/footer') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../public/assets/js/credentialsnew.js"></script>