<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/assets/css/home.css">
    </head>

    <body>
        <%- include('./partials/navbar') %>
            <div class="container-fluid title ">
                <div class="writing px-1">
                    <span>Option Analysis</span>
                    <p>Login to Use </p>
                    <a href="/auth/google"><button class="btn btn-outline-dark btn-lg">Login with Google</button></a>
                </div>
            </div>





            <%- include('./partials/footer') %>