<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/assets/css/order.css">
        
    </head>

    <body>
        <%- include('./partials/navbar') %>

            <div class="container d-flex justify-content-star align-items-center flex-column mainpage ">
            <div class="card">
                    <div class="card-body">
                            Order Has been Scheduled.    
                </div>
            </div>
            

            </div>

            <%- include('./partials/footer') %>