<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/css/analyze.css">
    </head>

    <body>

        <a href="/basket"><button type="submit" class="btn btn-outline-dark">Approve Trade</button></a>
        <a href="/analyze"><button type="submit" class="btn btn-outline-dark">Strategy Builder</button></a>
        <a href="/details"><button type="submit" class="btn btn-outline-dark">Configure Key</button></a>

        <%- include('./partials/footer') %>