* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container.mainpage {
    min-height: 738px;
}

body {
    min-height: 768px;
    font-family: 'Raleway', sans-serif;
}

.container {
    min-height: 723px;
    margin-top: 6rem;
}

.row>.col-4{
width: inherit;}
